<h1 class="mt-4">Clientes</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Consulta</li>
    </ol>
  <div class="container">
    <div class="row" >
      <div class="col-md-2">
        <button class="btn btn-warning" (click)="novoCadastro()">
          <i class="fa fa-plus"></i>
          Novo
        </button>
      </div>
    </div>
  <br>
    <div class="row" >
      <div class="col-md-12">
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nome</th>
              <th>CPF</th>
              <th>Data Cadastro</th>
              <th>

              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of clientes">
              <td>{{ c.id }}</td>
              <td>{{ c.nome }}</td>
              <td>{{ c.cpf }}</td>
              <td>{{ c.dataCadastro }}</td>
              <td>
                <button class="btn btn-primary" routerLink="/clientes-form/{{ c.id }}">
                  <i class="fa fa-edit"></i>
                  Edit
                </button>
              </td>
              <td>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalDelecao">
                  <i class="fa fa-trash"></i>
                  Deletar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal fade" id="modalDelecao"  role="dialog" >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1>Confirmação</h1>
          </div>
          <div class="modal-body">
            ...
          </div>
        </div>
      </div>
    </div>
  </div>
